# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings folder
.vscode/

# Python virtual environments
env/
venv/
.venv/

# Add .pth files, .pkl files, .txt files, .zip files, and .csv files to the ignore list
*.pth
*.pkl
*.txt
*.zip
.csv
.png